[submodule "sentry-native"]
	path = modules/sentry-native
	url = https://github.com/getsentry/sentry-native.git

[submodule "modules/godot-cpp"]
	path = modules/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "modules/gut"]
	path = modules/gut
	url = https://github.com/bitwes/Gut.git
